<div class="p-3 mb-2 bg-info text-white">
<div class="container p-3 mb-2 bg-secondary text-white"><header><h3>List of Employees</h3></header></div>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Contact Name</th>
        <th>Email-ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ankur</td>
        <td>98122332</td>
        <td>ankur@example.com</td>
      </tr>
      <tr>
        <td>Virat</td>
        <td>1209765</td>
        <td>virat@example.com</td>
      </tr>
      <tr>
        <td>Rohit</td>
        <td>991822732</td>
        <td>rohit@example.com</td>
      </tr>
      <tr>
        <td>Anant</td>
        <td>991112732</td>
        <td>anant@example.com</td>
      </tr>
    </tbody>
  </table>
  <button class="btn-save btn btn-primary" (click)="back()">Back</button>
</div>
