<div class="p-3 mb-2 bg-info text-white">
<div class="container">
<div class="container p-3 mb-2 bg-secondary text-white"><header><h3>Delete Employee</h3></header></div>
<form>
<div>
    <label for="empDelete">Enter Employee ID</label>
    <input type="number" class="form-control" id="empdelete">
</div>
</form>
<br>
<div class="form-group">
<button class="btn-save btn btn-primary" (click)="back()">Back</button>
<button type="button" class="btn btn-danger float-right">Delete</button>
</div>
</div>
</div>

