<div class="p-3 mb-2 bg-info text-white">
<div class="container" *ngIf="opName">
  <div class="container p-3 mb-2 bg-secondary text-white">
    <h1 class="page-header">
  Welcome to Employee Management System!</h1></div>
  <br>
  <br>
  <br>
  <div class="form-group" >
<label for="empOptions">Select the operation</label>
<br>
<select class="form-control" [(ngModel)]="empOperations" name="empOptions">
  <option value="none" selected disabled hidden>select from below</option>
  <option value="create">Create Employee</option>
  <option value="delete">Delete Employee</option>
  <option value="update">Update Employee Details</option>
  <option value="list">Show List of Employees</option>
</select>
</div>
<div class="form-group">
<button class="btn btn-success" (click)="performOperation()">Confirm</button>
</div>
</div>


<app-create-emp *ngIf="createVar" (onRegister)="backButtonPressedInChild()"></app-create-emp>
<app-delete-emp *ngIf="deleteVar" (onBacking)="backButtonPressedInChild()"></app-delete-emp>
<app-update-emp *ngIf="updateVar" (onBackingAgain)="backButtonPressedInChild()"></app-update-emp>
<app-view-emp *ngIf="viewVar" (onViewBack)="backButtonPressedInChild()"></app-view-emp>
</div>